.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 member
    %ol.breadcrumb
      %li= link_to "Top", admin_member_path
      %li.active
        %strong 編集
  .col-lg-2
.wrapper.wrapper-content
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 member
      .ibox-content
        = render 'form', url: admin_member_path(@member)
