.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 record
    %ol.breadcrumb
      %li= link_to "Top", admin_records_path
      %li.active
        %strong 追加
  .col-lg-2
.wrapper.wrapper-content
  .row
    .ibox.float-e-margins
      .ibox-title
        %h5 record
      .ibox-content
        = render 'form', url: admin_records_path
