%footer
  .footer
    .table
      .td
        %addres
          mail : Revolution14th@gmail.com
      .td
        %ul.sns
          %li
            %a{:href => "https://twitter.com/hachi_08", :target => "_blank"}
              %img{:alt => "Twitter", :src => "http://reissuerecords.net/rr/wp-content/themes/rr/common/img/icon_sns_white_1.png", :width => "18"}/
